* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.kort-rad {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.kort {
    padding: 1.25rem;
    border: 1px solid #ccc;
}