* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


section {
  scroll-margin-top: 80px;

}

#hero {
    padding: 1.2rem;
   
}

nav {
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: 2rem;
    background-color: rgb(30, 116, 191);
    margin: 0.2rem;
    
}

nav a{
    text-decoration: none;
    color: black;
    
}

main{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
   

}

footer {
    padding: 1.2rem;
}